* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
}

.bg-image {
  min-height: 100vh;
  /* min-width: 50vw; */
}

.bg-image {
  flex: 0.5;
  background-image: url("../assets/login-img.jpg");
  background-size: cover;
  background-position: center center;
}

.cont {
  flex: 0.5;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-center {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.forgotPass {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 5px;
  color: #972497;
}
.logo-ship {
  max-height: 150px;
  margin: 0 auto;
  max-width: 200px;
}

.header {
  display: flex;
  color: #972497;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.header h1 {
  margin-bottom: 7px;
  font-size: 35px;
  font-weight: 700;
}

.header h4 {
  font-size: 17px;
  font-weight: 400;
}

form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.input-block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 25px;
  line-height: 35px;
}

label {
  font-size: initial;
  color: #972497;
  height: 28px;
  border-radius: 3px;
}
.input-block label {
  position: absolute;
  top: -17px;
  left: 10px;
  z-index: 2;
  background: white;
  /* font-size: 15 px; */
}
.input-block input {
  /* outline: none; */
  /* border-bottom-style: groove; */
  font-size: 20px;
  font-size: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
}
/* .input:focus{
  position: absolute;
} */
.btn {
  font-size: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  color: white;
  /* background: -webkit-linear-gradient(left, #7579ff, #b224ef); */
  background: rgb(78, 44, 144);
  margin-top: 25px;
}
